AI Image Generator - Text to Image (3).json
{
  "name": "AI Image Generator - Text to Image",
  "nodes": [
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "71f4c280-94f8-483e-9f08-88e0b2d1ef85",
      "name": "Menunggu Proses Generate Gambar",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -320,
        96
      ],
      "webhookId": "1ae560c3-1461-4d83-8493-d478c1949bc5"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$node[\"Mengirim Image Generation Request ke KIE.AI API\"].json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"On form submission\"].json[\"api_key\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "6a56a3cb-574b-4f07-802f-488c7a0003cd",
      "name": "Mendapatkan Status Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -96,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  img1: result.resultUrls[0] || null,\n  img2: result.resultUrls[1] || null,\n  img3: result.resultUrls[2] || null,\n  img4: result.resultUrls[3] || null\n}];"
      },
      "id": "4d16c1bd-1cbf-4177-9da2-ef53b2f2bda4",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        80
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "proxy": ""
        }
      },
      "id": "fce9ff9f-f93c-466a-bf41-1149c7e633b4",
      "name": "Download Gambar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        832,
        80
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "2003455919",
        "binaryData": true,
        "additionalFields": {}
      },
      "id": "17c2d857-271b-4a42-b509-091867218bed",
      "name": "Kirim Hasil Generate",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1040,
        80
      ],
      "webhookId": "5a413ceb-8e59-4d22-bbca-5169eda3f568",
      "credentials": {
        "telegramApi": {
          "id": "3gqd207Yxu8Jeqhm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Generate Gambar Konten Otomatis",
        "formDescription": "isi detail gambar yang akan di generate",
        "formFields": {
          "values": [
            {
              "fieldLabel": "prompt"
            },
            {
              "fieldLabel": "img_url"
            },
            {
              "fieldLabel": "task_type",
              "placeholder": "mj_txt2img"
            },
            {
              "fieldLabel": "api_key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -784,
        96
      ],
      "id": "9c928174-38df-4502-8587-2b0f43444f81",
      "name": "On form submission",
      "webhookId": "01f03641-c700-4226-91fc-c370b7a8d543"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/text-to-image\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"aspect_ratio\": \"3:2\"\n  }\n}",
        "options": {}
      },
      "id": "3433ac0a-056d-4425-a5f1-e43c6e79ede3",
      "name": "Mengirim Image Generation Request ke KIE.AI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -544,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const urls = [\n  $json.img1,\n  $json.img2,\n  $json.img3,\n  $json.img4\n].filter(Boolean);\n\n// jadikan 1 URL = 1 item\nreturn urls.map((url, index) => ({\n  json: {\n    url,\n    index: index + 1\n  }\n}));\n"
      },
      "id": "e894ca39-98cc-445d-bc02-aea10c4ecb3a",
      "name": "Loop Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "59389119-450d-4060-af3a-72776686693b",
              "leftValue": "success",
              "rightValue": "={{ $json.data.state }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        96
      ],
      "id": "f7c63203-3657-4ed4-928b-d9ec5750954c",
      "name": "Check Generate"
    }
  ],
  "pinData": {},
  "connections": {
    "Menunggu Proses Generate Gambar": {
      "main": [
        [
          {
            "node": "Mendapatkan Status Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mendapatkan Status Generate": {
      "main": [
        [
          {
            "node": "Check Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Loop Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Gambar": {
      "main": [
        [
          {
            "node": "Kirim Hasil Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Mengirim Image Generation Request ke KIE.AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengirim Image Generation Request ke KIE.AI API": {
      "main": [
        [
          {
            "node": "Menunggu Proses Generate Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Image": {
      "main": [
        [
          {
            "node": "Download Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Generate": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menunggu Proses Generate Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3a8b4b2c-1dc6-47c4-88ef-efdd050eabbd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d9307b9d51dec5f791587fa7c555cfe22e8d4f254607b1c4a159ac4d7d3fe72e"
  },
  "id": "Yc6Uw6epniS8atSY",
  "tags": []
}