Automated Weekly Finance Report with AI.json
{
  "name": "Automated Weekly Finance Report with AI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "da575492-6271-44f9-a738-af37f5867d0c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "52264317-ddfb-4386-9ca7-03206b04b3f4",
              "leftValue": "={{ $node[\"Filter & Format\"].json.hasExpenses }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "16cac040-1c32-4fa6-88eb-f9e6406e3451",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst today = new Date();\ntoday.setHours(23, 59, 59, 999);\n\nconst sevenDaysAgo = new Date(today);\nsevenDaysAgo.setDate(today.getDate() - 7);\n\nlet formattedString = \"Data pengeluaran saya 7 hari terakhir:\\n\";\nlet hasExpenses = false;\n\nfor (const item of items) {\n  const rawTanggal = item.json.Tanggal;\n  if (!rawTanggal) continue;\n\n  const [d, m, y] = rawTanggal.split(\"/\");\n  const expenseDate = new Date(parseInt(y), parseInt(m) - 1, parseInt(d));\n\n  if (expenseDate >= sevenDaysAgo && expenseDate <= today) {\n    formattedString += `- ${item.json.Deskripsi}: Rp${parseInt(item.json[\"Jumlah (IDR)\"]).toLocaleString('id-ID')}\\n`;\n    hasExpenses = true;\n  }\n}\n\nreturn [{\n  json: {\n    promptData: hasExpenses \n      ? formattedString \n      : \"Tidak ada pengeluaran selama 7 hari terakhir.\",\n    hasExpenses: hasExpenses\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "fdd360a5-9dfb-4417-960b-ddef06c260e6",
      "name": "Filter & Format"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Filter & Format\"].json.promptData }} (Notes: sesuaikan dengan nama nodes kalian).\n\n---\nInstruksi: \"Tulis ringkasan kebiasaan belanja saya minggu ini dan beri 1 saran penghematan.\"\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        896,
        -336
      ],
      "id": "9051b5cf-891a-4c0b-91fd-4b0f1bec3e85",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        896,
        -128
      ],
      "id": "f94ca947-8106-4391-ac42-799161c5c0de",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "px3JbxRJX0BOK35s",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "2003455919z",
        "text": "Nihil",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        16
      ],
      "id": "02f2a5fc-8f28-4da1-870d-a0de3f21f268",
      "name": "False",
      "webhookId": "afac26b0-342e-44d6-b0f8-5c235d9185e7",
      "credentials": {
        "telegramApi": {
          "id": "W8UEeNoggolzcuvt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "2003455919z",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        -336
      ],
      "id": "ac27f251-7416-401d-99b8-74beffc026d1",
      "name": "True",
      "webhookId": "afac26b0-342e-44d6-b0f8-5c235d9185e7",
      "credentials": {
        "telegramApi": {
          "id": "W8UEeNoggolzcuvt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wH0iKP0aKjFnUDblpDNM2maVAbIp7zLfnd8HUG3w15M",
          "mode": "list",
          "cachedResultName": "Recosiliation Dummy - Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wH0iKP0aKjFnUDblpDNM2maVAbIp7zLfnd8HUG3w15M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wH0iKP0aKjFnUDblpDNM2maVAbIp7zLfnd8HUG3w15M/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "282c844c-e039-4d35-bfb6-dd101a7a5077",
      "name": "Read Logs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "e6c2ACWiHda9vycx",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Format": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "True",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Logs": {
      "main": [
        [
          {
            "node": "Filter & Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6c3584aa-4194-4e13-b9ed-aa82883890dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "06d8d7a121f7558ff569bd50325678f0048e705845c11310fd3aec34cd51a484"
  },
  "id": "vO7MaOzCBBwMwtbc",
  "tags": []
}