Automated Recruitment & Screening.json
{
  "name": "Automated Recruitment & Screening",
  "nodes": [
    {
      "parameters": {
        "chatId": "2003455919",
        "text": "=Nama: {{ $json.ai_name }}\nSkills: {{ $json.ai_skills }}\nScore: {{ $json.ai_score }}\nSummary: {{ $json.ai_summary }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        0
      ],
      "id": "9c80b038-6260-44c0-aa96-d3dc83702146",
      "name": "Send a text message",
      "webhookId": "b85370ff-2fd5-4c18-8836-b474ee208774",
      "credentials": {
        "telegramApi": {
          "id": "oHsjox1qJp2xwRU5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (let item of items) {\n  const aiResponseText = item.json.text; // Output teks dari LLM\n  \n  try {\n    // 1. Bersihkan formatting jika AI memberikan markdown ```json ... ```\n    const cleanJson = aiResponseText.replace(/```json|```/g, '').trim();\n    \n    // 2. Parse string menjadi Objek\n    const parsedData = JSON.parse(cleanJson);\n    \n    // 3. Masukkan ke item.json agar bisa dipanggil node selanjutnya\n    item.json.ai_name = parsedData.candidate_name;\n    item.json.ai_exp = parsedData.years_of_experience;\n    item.json.ai_skills = parsedData.top_skills.join(\", \"); // Array jadi string\n    item.json.ai_summary = parsedData.summary;\n    item.json.ai_score = parsedData.score;\n    item.json.ai_rec = parsedData.hiring_recommendation;\n    \n  } catch (error) {\n    // Fallback jika AI gagal generate JSON valid\n    item.json.error = \"Gagal parsing JSON dari AI\";\n    item.json.raw_output = aiResponseText;\n  }\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        0
      ],
      "id": "14ea76fa-5df4-4d8c-8121-e04e5b103b2d",
      "name": "Mengubah ke JSON Object"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Peran: Anda adalah Senior Technical Recruiter yang sangat teliti dan objektif. Tugas Anda adalah mengevaluasi teks CV kandidat di bawah ini untuk posisi Automation Engineer/Developer.\n\nKonteks CV Kandidat:\n\"\"\"\n{{ $json.text }}\n\"\"\"\n\nInstruksi Penilaian:\n1. Analisis pengalaman kerja, keahlian teknis (Hard Skills), dan latar belakang pendidikan.\n2. Identifikasi apakah kandidat memiliki pengalaman dengan tool seperti: n8n, Javascript, Python, SQL, atau API Integration.\n3. Berikan skor profesional dari 0-100.\n   - Skor < 50: Tidak relevan/Pemula.\n   - Skor 50-75: Menengah/Potensial.\n   - Skor > 75: Sangat Cocok/Senior.\n\nFormat Output (WAJIB JSON):\nJangan berikan basa-basi atau teks pembuka. HANYA berikan output JSON valid dengan struktur berikut:\n{\n  \"candidate_name\": \"Nama lengkap kandidat (jika ada)\",\n  \"years_of_experience\": \"Estimasi total tahun pengalaman (angka)\",\n  \"top_skills\": [\"Skill 1\", \"Skill 2\", \"Skill 3\", \"Skill 4\", \"Skill 5\"],\n  \"summary\": \"Ringkasan profil kandidat dalam 1 paragraf pendek (maksimal 30 kata) dalam Bahasa Indonesia.\",\n  \"strengths\": \"Poin kuat kandidat\",\n  \"weaknesses\": \"Kekurangan/hal yang perlu diklarifikasi\",\n  \"score\": 0,\n  \"hiring_recommendation\": \"YES / NO / MAYBE\"\n}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        704,
        0
      ],
      "id": "2bc7af16-387d-4cd6-856d-0da85c24beca",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Upload_CV__PDF_",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        496,
        0
      ],
      "id": "09f684a9-7b06-44b6-9d46-9b1b1101c264",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); // Ambil data input \n\nfor (let item of items) {\n  const binaryData = item.binary?.Upload_CV__PDF_;\n\n  if (binaryData) {\n    item.json.cv_base64 = binaryData.data; // Data base64 internal \n    item.json.fileName = binaryData.fileName;\n  }\n\n  // Tambahkan tanggal format Indonesia menggunakan Luxon \n  item.json.tanggal_input = DateTime.now().toFormat('dd-MM-yyyy HH:mm');\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        0
      ],
      "id": "452499c2-e02a-4b3f-beeb-01e8bf7f2420",
      "name": "Mengonversi  ke Base64"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        704,
        208
      ],
      "id": "269de04f-a337-41be-bbc3-b2316d5464a9",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "SewAK5hTxt8ng7QN",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Form Rekrutmen Posisi Manajemen Marketing",
        "formDescription": "Harap isi Form dibawah ini sesuai dengan ketentuan yang berlaku",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nama Lengkap",
              "placeholder": "John Doe",
              "requiredField": true
            },
            {
              "fieldLabel": "Pengalaman",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "< 1 tahun"
                  },
                  {
                    "option": "1 - 3 tahun"
                  },
                  {
                    "option": "3 > tahun"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Upload CV (PDF)",
              "fieldType": "file",
              "acceptFileTypes": "2",
              "requiredField": true
            }
          ]
        },
        "options": {
          "path": "REKRUTMEN & SCREENING OTOMATIS"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        80,
        0
      ],
      "id": "03173559-6379-4bb0-b632-eadf483e8476",
      "name": "On form submission",
      "webhookId": "c49deecd-fdef-4416-8a15-2568a349e059"
    }
  ],
  "pinData": {},
  "connections": {
    "Mengubah ke JSON Object": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Mengubah ke JSON Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengonversi  ke Base64": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Mengonversi  ke Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5ce0d0d7-5ed2-4feb-99f4-710a47bd8ba7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6d5ed230d438df5757cfe7250e470eb74c4b4fd06aa6b890600ad7be73789c5"
  },
  "nodeGroups": [],
  "id": "Y4zepCBVCFWC0Nmp",
  "tags": []
}