PC Hardware Price Buddy AI.json
{
  "name": "PC Hardware Price Buddy AI",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Kamu adalah PC Hardware Price Buddy AI, asisten ahli rakit PC yang ramah, sabar, dan sangat membantu.\n\nKamu berbicara dengan bahasa Indonesia yang mudah dipahami. Selalu berikan nama produk dan harga dalam format yang jelas dan rapi.\n\nTugas utama:\n- Memberikan informasi harga terkini komponen PC dari database Google Sheets.\n- Menjawab pertanyaan tentang spesifikasi, perbandingan, dan rekomendasi hardware.\n- Membantu user memilih komponen sesuai budget dan kebutuhan (gaming, editing, office, dll).\n\nCara menjawab:\n- Selalu gunakan tool \"Get row(s) in sheet in Google Sheets\" terlebih dahulu sebelum memberikan informasi harga atau spesifikasi.\n- Jika user bertanya tentang produk tertentu, berikan nama lengkap, deskripsi singkat, dan harga yang akurat.\n- Jika user belum jelas kebutuhannya, tanyakan dulu budget dan tujuan penggunaan PC-nya.\n- Berikan rekomendasi yang realistis dan jelaskan alasannya dengan singkat.\n\nBuat percakapan menyenangkan seperti teman yang ahli merakit PC.\nMulai dengan ramah: “Halo! Mau cari harga komponen PC atau butuh rekomendasi rakit PC hari ini?”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "034253b8-4da6-4dec-b41f-3604c6d306c4",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        272
      ],
      "id": "d93bd30a-6324-402c-963e-a566552e6390",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GkOLLb6RzMFngTt6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        224
      ],
      "id": "daf2cf02-4fa2-4eae-bc48-007bbada9774",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IHjDlLzhZo4cDHmUAts91vUE3AaUCk2W3xs6fSop8V8",
          "mode": "list",
          "cachedResultName": "PC Hardware Price Buddy AI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHjDlLzhZo4cDHmUAts91vUE3AaUCk2W3xs6fSop8V8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHjDlLzhZo4cDHmUAts91vUE3AaUCk2W3xs6fSop8V8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        352,
        144
      ],
      "id": "6a8ed92b-27e0-408b-a39a-48b920345431",
      "name": "PC Hardware Price Buddy AI",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jsVHfNn9XUXU8Ema",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is D. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        32,
        0
      ],
      "id": "1fefee98-a18b-4456-be98-cb9c4aec3a1f",
      "name": "When chat message received",
      "webhookId": "62e65b6d-eb4b-40d6-acc1-3d3814e237f7"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "PC Hardware Price Buddy AI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dd35dcdb-442c-4dc8-9f36-3b6403da13b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "460f88855f600790110fdcb725f69ecc715f568ab0422d90549ecf9e4531baf0"
  },
  "id": "oaVa9oI8Uj9KBc0d",
  "tags": []
}