SOP Otomation Bot.json
{
  "name": "SOP Otomation Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a3b5af67-6065-446d-a50a-74d83d071013",
      "name": "Telegram Trigger",
      "webhookId": "c57530e1-e9c3-41db-89ca-ec144bcaab20",
      "credentials": {
        "telegramApi": {
          "id": "oHsjox1qJp2xwRU5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "5d57bd08-f8b8-414e-8334-7d56d237d9b1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a30642d5-6110-49b8-bfca-dfb2da854dd5",
                    "leftValue": "={{ $json.callback_query }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        304,
        0
      ],
      "id": "8ef477f0-f342-4037-8ff8-99aade4ee068",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Welcome to the Dash SOP Assistant! You can ask questions using the button below.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Reimbursement Procedure",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Leave Procedures",
                    "additionalFields": {
                      "callback_data": "leave"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Overtime Rules",
                    "additionalFields": {
                      "callback_data": "overtime"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Health Insurance Claims",
                    "additionalFields": {
                      "callback_data": "insurance "
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "New Tool Request",
                    "additionalFields": {
                      "callback_data": "tool"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        -288
      ],
      "id": "28b17151-f760-43c8-bd79-28839e68bd13",
      "name": "True Output",
      "webhookId": "4b36294d-7a70-428d-8aaa-eeee2201840b",
      "credentials": {
        "telegramApi": {
          "id": "oHsjox1qJp2xwRU5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "To start a conversation, please type /start",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        -80
      ],
      "id": "3f795f34-b924-4e11-803b-bd38f67be408",
      "name": "False Output",
      "webhookId": "4b36294d-7a70-428d-8aaa-eeee2201840b",
      "credentials": {
        "telegramApi": {
          "id": "oHsjox1qJp2xwRU5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "045f2ed7-f208-480e-af48-11758a116746",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        512,
        -96
      ],
      "id": "e5dd52ba-831f-4665-b5e9-178eae429eb2",
      "name": "Check Message"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.reimbursement }}\n\nWhat else do you want to ask?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Reimbursement Procedure",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "leave Procedures",
                    "additionalFields": {
                      "callback_data": "Leave"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Overtime Rules",
                    "additionalFields": {
                      "callback_data": "Overtime"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Health Insurance Claims",
                    "additionalFields": {
                      "callback_data": "insurance "
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "New Tool Request",
                    "additionalFields": {
                      "callback_data": "tool"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        288
      ],
      "id": "786ae2c1-64ca-4aca-8a55-3caf2af59e5e",
      "name": "Send Results to User (Reimbursement)",
      "webhookId": "4b36294d-7a70-428d-8aaa-eeee2201840b",
      "credentials": {
        "telegramApi": {
          "id": "oHsjox1qJp2xwRU5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab5ef712-6044-4e7c-afb2-51eed1a66a35",
              "name": "reimbursement",
              "value": "=Employees must complete the form, attach the original proof of payment, and submit it to the manager. Payment will be processed within 14 business days.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        304
      ],
      "id": "5afd205c-605c-41e9-992d-fa0ee31fcd97",
      "name": "reimbursement"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "045f2ed7-f208-480e-af48-11758a116746",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "reimbursement",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        528,
        304
      ],
      "id": "7918f54a-8862-4b37-88c8-0bbf38b47c39",
      "name": "true reimbursement"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab5ef712-6044-4e7c-afb2-51eed1a66a35",
              "name": "leave",
              "value": "=Employees must apply for leave through the HR portal by filling in all the necessary information. Applications must be submitted at least three days in advance and must await supervisor approval before the leave can be granted.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        560
      ],
      "id": "3508521e-cc6b-4e57-acf4-17563dceea77",
      "name": "leave"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab5ef712-6044-4e7c-afb2-51eed1a66a35",
              "name": "overtime",
              "value": "=Overtime must be approved by your supervisor first. Ensure the request is submitted through the system with a clear reason and duration before the overtime is implemented.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        832
      ],
      "id": "c7834928-10b4-4a1a-bd10-f22cad9baeb9",
      "name": "overtime"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab5ef712-6044-4e7c-afb2-51eed1a66a35",
              "name": "asurance",
              "value": "=Insurance claims must be submitted through the HRD portal with complete data and valid supporting documents. Each claim will be verified before being approved.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        1088
      ],
      "id": "854d5014-cffe-49f2-8dad-629c379a1080",
      "name": "asurance"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab5ef712-6044-4e7c-afb2-51eed1a66a35",
              "name": "tool",
              "value": "=Requests for new work equipment must be submitted through the HR portal, providing complete information and a clear rationale. Each request will undergo an approval process before procurement can begin.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        1344
      ],
      "id": "79452c36-08f2-4f07-be31-da44200aa8e2",
      "name": "tool"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "045f2ed7-f208-480e-af48-11758a116746",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "leave",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        560
      ],
      "id": "171324cc-a7a5-4a71-ae57-edce609a8183",
      "name": "true leave"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "045f2ed7-f208-480e-af48-11758a116746",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "overtime",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1104,
        832
      ],
      "id": "6354cf05-e105-4b0d-bd19-17450893f2f1",
      "name": "true overtime"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "045f2ed7-f208-480e-af48-11758a116746",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "asurance",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1360,
        1088
      ],
      "id": "48e4ca47-62ba-4a6c-8b41-3c271b9125c3",
      "name": "true asurance"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "045f2ed7-f208-480e-af48-11758a116746",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "tool",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1584,
        1344
      ],
      "id": "59951d37-bed2-40bb-8d2a-20b5793ebb62",
      "name": "true tool"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.leave }}\n\nWhat else do you want to ask?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Reimbursement Procedure",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "leave Procedures",
                    "additionalFields": {
                      "callback_data": "Leave"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Overtime Rules",
                    "additionalFields": {
                      "callback_data": "Overtime"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Health Insurance Claims",
                    "additionalFields": {
                      "callback_data": "insurance "
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "New Tool Request",
                    "additionalFields": {
                      "callback_data": "tool"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        544
      ],
      "id": "6ae3dcea-4757-4bc2-88b8-079ec8116054",
      "name": "Send Results to User (leave)",
      "webhookId": "4b36294d-7a70-428d-8aaa-eeee2201840b",
      "credentials": {
        "telegramApi": {
          "id": "oHsjox1qJp2xwRU5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.overtime }}\n\nWhat else do you want to ask?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Reimbursement Procedure",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "leave Procedures",
                    "additionalFields": {
                      "callback_data": "Leave"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Overtime Rules",
                    "additionalFields": {
                      "callback_data": "Overtime"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Health Insurance Claims",
                    "additionalFields": {
                      "callback_data": "insurance "
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "New Tool Request",
                    "additionalFields": {
                      "callback_data": "tool"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        816
      ],
      "id": "5c848216-7905-4b8a-b388-8472e8aeaeaa",
      "name": "Send Results to User (overtime)",
      "webhookId": "4b36294d-7a70-428d-8aaa-eeee2201840b",
      "credentials": {
        "telegramApi": {
          "id": "oHsjox1qJp2xwRU5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.Reimbursement }}\n\nWhat else do you want to ask?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Reimbursement Procedure",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "leave Procedures",
                    "additionalFields": {
                      "callback_data": "Leave"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Overtime Rules",
                    "additionalFields": {
                      "callback_data": "Overtime"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Health Insurance Claims",
                    "additionalFields": {
                      "callback_data": "insurance "
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "New Tool Request",
                    "additionalFields": {
                      "callback_data": "tool"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        1072
      ],
      "id": "e997fdae-5049-46a9-802a-cb0f93217453",
      "name": "Send Results to User (asurance)",
      "webhookId": "4b36294d-7a70-428d-8aaa-eeee2201840b",
      "credentials": {
        "telegramApi": {
          "id": "oHsjox1qJp2xwRU5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.tool }}\n\nWhat else do you want to ask?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Reimbursement Procedure",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Leave Procedures",
                    "additionalFields": {
                      "callback_data": "leave"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Overtime Rules",
                    "additionalFields": {
                      "callback_data": "overtime"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Health Insurance Claims",
                    "additionalFields": {
                      "callback_data": "insurance "
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "New Tool Request",
                    "additionalFields": {
                      "callback_data": "tool"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1840,
        1328
      ],
      "id": "23937d11-a1d1-4315-b8cd-46a9a04dfe05",
      "name": "Send Results to User (tool)",
      "webhookId": "4b36294d-7a70-428d-8aaa-eeee2201840b",
      "credentials": {
        "telegramApi": {
          "id": "oHsjox1qJp2xwRU5",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Check Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "reimbursement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message": {
      "main": [
        [
          {
            "node": "True Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reimbursement": {
      "main": [
        [
          {
            "node": "true reimbursement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true reimbursement": {
      "main": [
        [
          {
            "node": "Send Results to User (Reimbursement)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "leave",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "leave": {
      "main": [
        [
          {
            "node": "true leave",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "overtime": {
      "main": [
        [
          {
            "node": "true overtime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "asurance": {
      "main": [
        [
          {
            "node": "true asurance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tool": {
      "main": [
        [
          {
            "node": "true tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true leave": {
      "main": [
        [
          {
            "node": "Send Results to User (leave)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "overtime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true overtime": {
      "main": [
        [
          {
            "node": "Send Results to User (overtime)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "asurance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true asurance": {
      "main": [
        [
          {
            "node": "Send Results to User (asurance)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true tool": {
      "main": [
        [
          {
            "node": "Send Results to User (tool)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2c6031a5-e390-40bc-95d3-3cd1c7290a90",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6d5ed230d438df5757cfe7250e470eb74c4b4fd06aa6b890600ad7be73789c5"
  },
  "nodeGroups": [],
  "id": "J3WMdPjU9JvXPpUw",
  "tags": []
}