SOP Otomation Bot.json
{
  "name": "SOP Otomation Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        4240,
        1088
      ],
      "id": "a41cff34-cc23-44e7-8272-db49d546eda1",
      "name": "Telegram Trigger",
      "webhookId": "ff89d499-2b66-4cff-b31b-43dcc443beb3",
      "credentials": {
        "telegramApi": {
          "id": "oHsjox1qJp2xwRU5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "062295f5-3cf4-4e24-a911-a5cbd8650bb0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "456d0c50-584d-4a59-8fa9-3d3d73733adc",
                    "leftValue": "={{ $json.callback_query }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4480,
        1088
      ],
      "id": "c461fdcd-b033-486a-9098-7969b7fb8273",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "22b8d5f1-7d10-4b2f-8f22-4a651db48bcd",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4752,
        1072
      ],
      "id": "e10ce238-9341-4d6c-9f3d-d679013e1327",
      "name": "Periksa pesan"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Selamat datang di Asisten SOP Waguri kaoruko! Anda bisa bertanya melalui tombol di bawah ini.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5120,
        976
      ],
      "id": "43180180-2b0d-49a4-97f0-b49836b7aae7",
      "name": "True Output",
      "webhookId": "a5eeefb7-256e-42d1-a246-6e74ba9f8d94",
      "credentials": {
        "telegramApi": {
          "id": "oHsjox1qJp2xwRU5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Untuk memulai percakapan, harap ketik /start",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5120,
        1168
      ],
      "id": "50578d1f-38c3-40b5-995a-b0095b96c31b",
      "name": "False Output",
      "webhookId": "a5eeefb7-256e-42d1-a246-6e74ba9f8d94",
      "credentials": {
        "telegramApi": {
          "id": "oHsjox1qJp2xwRU5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f013d10-dfff-4f51-a107-9e5ec178102e",
              "name": "reimbursement",
              "value": "=Karyawan harus mengisi formulir, melampirkan bukti bayar asli, dan menyerahkannya ke manajer. Pembayaran akan diproses dalam 14 hari kerja.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4480,
        1440
      ],
      "id": "130c9701-8cb2-4aec-a299-d3c89abcdd79",
      "name": "Reimbursement"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "22b8d5f1-7d10-4b2f-8f22-4a651db48bcd",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "=reimbursement",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4752,
        1440
      ],
      "id": "0bde579f-6788-4d0d-be28-61213db8f8b3",
      "name": "true reimbursement"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fa7aaf8-6c4a-4a9d-87ff-e1aef23418be",
              "name": "cuti",
              "value": "=Karyawan harus mengajukan cuti melalui portal HRD dengan mengisi data secara lengkap. Pengajuan wajib dilakukan minimal 3 hari sebelumnya dan harus menunggu persetujuan atasan sebelum cuti dapat dilaksanakan.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4752,
        1728
      ],
      "id": "631a6f2b-d421-476f-8920-eb7b9f1e1175",
      "name": "Cuti"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "22b8d5f1-7d10-4b2f-8f22-4a651db48bcd",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "cuti",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5056,
        1728
      ],
      "id": "73314e31-6d3f-4a0a-bb02-426c918b2b8a",
      "name": "true cuti"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a2bb228-3a18-4be5-a1b1-f8dac1ca37af",
              "name": "Overtime",
              "value": "=Overtime must be approved by your supervisor first. Ensure the request is submitted through the system with a clear reason and duration before the overtime is implemented.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5056,
        1984
      ],
      "id": "493b5b3e-652b-45de-ba87-12d5c32ad816",
      "name": "Lembur"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "22b8d5f1-7d10-4b2f-8f22-4a651db48bcd",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "lembur",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5328,
        1984
      ],
      "id": "1c96a8ad-268e-4a64-ad96-b663bf8b43b9",
      "name": "true lembur "
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "045a34a3-3732-46ed-b987-b4ecf9cb9eff",
              "name": "asuransi",
              "value": "=Klaim asuransi harus diajukan melalui portal HRD dengan data lengkap dan dokumen pendukung yang valid. Setiap klaim akan diverifikasi sebelum disetujui.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5344,
        2192
      ],
      "id": "601cb503-6a7d-4b9f-8526-c2ea0e5f8548",
      "name": "Asuransi"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "22b8d5f1-7d10-4b2f-8f22-4a651db48bcd",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "asuransi",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5616,
        2192
      ],
      "id": "5b5511dd-51ff-479d-8c10-1f77026964a1",
      "name": "true asuransi"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3011af71-d64d-410f-9f12-24f01112d8f3",
              "name": "alat_kerja",
              "value": "=Permintaan alat kerja baru harus diajukan melalui portal HRD dengan data lengkap dan alasan yang jelas. Setiap permintaan akan melalui proses persetujuan sebelum pengadaan dilakukan.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5600,
        2448
      ],
      "id": "3a4c9823-c15e-4529-98f2-5c04106872f6",
      "name": "Alat kerja"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "22b8d5f1-7d10-4b2f-8f22-4a651db48bcd",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "alat_kerja",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5872,
        2448
      ],
      "id": "64ba9877-127f-4e4f-8914-14586fd8234c",
      "name": "true alat_kerja"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.cuti }}\n\nMau bertanya apalagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5424,
        1712
      ],
      "id": "82bb6a46-78c8-4f29-ae1a-84e1ae19c94f",
      "name": "Kirim Hasil ke User (cuti)",
      "webhookId": "a5eeefb7-256e-42d1-a246-6e74ba9f8d94"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.lembur }}\n\nMau bertanya apalagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5600,
        1968
      ],
      "id": "3a21a38f-94f3-421c-bcbd-e6947ebe971a",
      "name": "Kirim Hasil ke User (lembur)",
      "webhookId": "a5eeefb7-256e-42d1-a246-6e74ba9f8d94",
      "credentials": {
        "telegramApi": {
          "id": "oHsjox1qJp2xwRU5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.asuransi }}\n\nMau bertanya apalagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5920,
        2176
      ],
      "id": "379b31ff-f62b-4a3c-8c84-9fb56852873f",
      "name": "Kirim Hasil ke User (asuransi)",
      "webhookId": "a5eeefb7-256e-42d1-a246-6e74ba9f8d94",
      "credentials": {
        "telegramApi": {
          "id": "oHsjox1qJp2xwRU5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.alat_kerja }}\n\nMau bertanya apalagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6208,
        2432
      ],
      "id": "b44b5989-2ba3-44e5-bafd-d23c9dfb6074",
      "name": "Kirim Hasil ke User (alat kerja)",
      "webhookId": "a5eeefb7-256e-42d1-a246-6e74ba9f8d94"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.reimbursement }}\n\nMau bertanya apalagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5120,
        1424
      ],
      "id": "a4ec248a-5e8e-4ee1-badf-42335760ba57",
      "name": "Kirim Hasil ke User (reimbursement)",
      "webhookId": "a5eeefb7-256e-42d1-a246-6e74ba9f8d94",
      "credentials": {
        "telegramApi": {
          "id": "oHsjox1qJp2xwRU5",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Periksa pesan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reimbursement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Periksa pesan": {
      "main": [
        [
          {
            "node": "True Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reimbursement": {
      "main": [
        [
          {
            "node": "true reimbursement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true reimbursement": {
      "main": [
        [
          {
            "node": "Kirim Hasil ke User (reimbursement)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cuti": {
      "main": [
        [
          {
            "node": "true cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true cuti": {
      "main": [
        [
          {
            "node": "Kirim Hasil ke User (cuti)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lembur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembur": {
      "main": [
        [
          {
            "node": "true lembur ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true lembur ": {
      "main": [
        [
          {
            "node": "Kirim Hasil ke User (lembur)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Asuransi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asuransi": {
      "main": [
        [
          {
            "node": "true asuransi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true asuransi": {
      "main": [
        [
          {
            "node": "Kirim Hasil ke User (asuransi)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alat kerja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alat kerja": {
      "main": [
        [
          {
            "node": "true alat_kerja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true alat_kerja": {
      "main": [
        [
          {
            "node": "Kirim Hasil ke User (alat kerja)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c78b25c2-abc6-4002-bbf0-bcdc0529008f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6d5ed230d438df5757cfe7250e470eb74c4b4fd06aa6b890600ad7be73789c5"
  },
  "nodeGroups": [],
  "id": "dnIYfzngVOBOrFH0",
  "tags": []
}